

@media (max-width: 567px) {
    header .left-side h2{
        font-size: 24px;
    }
    header .right-side{
        display: none;
    }
}

@media (min-width: 700px) and (max-width:1024px)
{
    .searchJob{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        width: 100vw;
        height: 100vh;
    }
    .searchJob .searchForm, .searchJob h1{
        margin: 0px 0px 0px 50px;
    }
    .searchJob .searchJob__title__desktop{
        display: block;
    }
    .searchJob .searchJob__title__mobile{
        display: none;
    }
}