header{

    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #000000;
}
header a{
    color: rgb(255, 255, 255);
}

header .btn-group button{
    padding: 2px 8px;
    color:white;
}
.search__worker{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    border: 1px solid;
}

.search__worker__title{
    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
}
.search__worker__p{   
    line-height: 16px;
}

.search__worker button{
    padding: 10px 30px;
}

.form{
    display: flex;
    margin: auto;
    padding: 15px 30px;
    width: 33.3vw;
    -webkit-box-shadow: 0px 16px 16px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 16px 16px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 16px 16px 0px rgba(34, 60, 80, 0.2);
    background-color: #fff;
}

.form input{
    width: 27.5vw;
}
.bg-img{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("./img/form-bg.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
}

